<% if(theme.waline.serverurl){ %>
  <style type="text/css">
    .v[data-class=v] .vcontent > p > a:not(.at) {
      overflow-wrap: anywhere;
      display: inline;
    }
  </style>
  <div id="vcomments" style="margin: 0 auto;"></div>
  <!-- <script defer src="//cdn.jsdelivr.net/npm/@waline/client@latest/dist/Waline.min.js"></script> -->
  <script defer src="//unpkg.zhimg.com/@waline/client@latest/dist/Waline.min.js"></script>
  <script>
    var notify = '<%= theme.waline.notify %>' == true ? true : false;
    var verify = '<%= theme.waline.verify %>' == true ? true : false;
    var oldLoad = window.onload;
    window.onload = function () {
      // 设置自定义文字
      const locale = {
        placeholder: "<%= theme.waline.placeholder %>",
        uploading: "上传中...默认图床在境内可能无法访问"
      };
      Waline({
        el: '#vcomments',
        serverURL: "<%= theme.waline.serverurl %>",
        avatar: "<%= theme.waline.avatar %>",
        avatarCDN: "<%= theme.waline.avatarcdn %>",
        meta: ['nick', 'mail', 'link'],
        pageSize: "<%= theme.waline.pageSize %>",
        // 设置 emoji
        emoji: [
          'https://avatar.75cdn.workers.dev/?url=https://github.com/walinejs/emojis/raw/main/alus',
          'https://avatar.75cdn.workers.dev/?url=https://github.com/walinejs/emojis/raw/main/weibo',
          'https://avatar.75cdn.workers.dev/?url=https://github.com/walinejs/emojis/raw/main/tieba',
        ],
        // 设置自定义文字
        locale,
        // 图片上传函数
        uploadImage: function (file) {
          return smms(file)
        }
      });
      oldLoad && oldLoad();
      // smms 图床，Authorization 的位置为 smms 图床的 token（可选）
      function smms(file) {
        const formData = new FormData();
        formData.append('smfile', file);
        formData.append('format', 'json');
        let data = fetch('https://smms.pvq.workers.dev/upload', {
          method: 'POST',
          mode: 'cors',
          headers: new Headers({
            'Authorization': 'FNnpntzeJnw1SQc61jL6Tt1UZPzmhLBT'
          }),
          body: formData
        }).then(
          res => res.json()
        ).then(function(response) {
          const checkUrl = new RegExp('^[a-zA-z]+://[^\s]*');
          let url = response.code == 'image_repeated' ? response.images : (response.data.url ? response.data.url : '');
          // 若 smms 图床调用失败则转发请求到遇见图床
          return checkUrl.test(url) ? url : hualigs(file);
        }).catch(function(error) {
          // smms 图床调用失败，尝试遇见图床
          return hualigs(file);
        });
        return data;
      }
      // 遇见图床
      function hualigs(file){
        const formData = new FormData();
        formData.append('image', file);
        formData.append('privateStorage', 'backblaze');
        formData.append('apiType', 'catbox');
        formData.append('token', '146faa57355f01c8eed8a045eda6a684');
        return fetch('//www.hualigs.cn/api/upload', {
          method: 'POST',
          mode: 'cors',
          body: formData
        }).then(
          res => res.json()
        ).then(function(response) {
          const checkUrl = new RegExp('^[a-zA-z]+://[^\s]*');
          let backblaze = response.data.url.private.backblaze;
          let catbox = 'https://avatar.75cdn.workers.dev/?url=' + encodeURIComponent(response.data.url.catbox);
          return checkUrl.test(backblaze) ? backblaze : catbox
        });
      }
    };
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://waline.js.org" rel="nofollow noopener">comments
      powered by Waline.</a></noscript>
<% } %>
